<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ikon Reservation Notifications</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    {{{body}}}
</body>
</html>
