<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ikon Reservation Notifications</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    {{{body}}}
    {{#if prod}}
    <script data-goatcounter="https://ikonreservations.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {{/if}}
</body>
</html>
