<h1>Ikon Reservation Notifications</h1>
<p>Select an Ikon resort and a date to be notified when a reservation spot opens up</p>
<form action="/resorts" method="GET">
    <input type="submit" value="Start" />
</form>
